:host { display: flex; flex-direction: column; height: 100%; }
.preview-tabs { display: flex; flex-direction: column; height: 100%; }
.preview-tabs kj-tab-panel {
  flex: 1; overflow: auto; padding: 1rem;
}
.preview-tabs kj-tab { text-transform: capitalize; }
